<li class="notes-container" data-categories="<%= annotation.categories %>" data-remark="<%= annotation.remark %>">
  <p class="notes-categories-title">Categories:</p>
  <p class="notes-categories-csv"><%= annotation.categories %></p>
  <p class="notes-highlight-title">Highlight:</p>
  <p class="notes-highlight-prefix"><%= annotation.highlighted_text %></p>
  <p class="notes-comment-title">Comment:</p>
  <p class="notes-comment-response"><%= annotation.remark %></p>
  <div class="notes-options">
    <span class="edit-option">Edit</span> | <span class="delete-option">Delete</span>
  </div>
</li>