<p id="notice"><%= notice %></p>
<iframe src="<%= @ebook.current_location_url %>"></iframe>
<p>
  <strong>Title:</strong>
  <%= @ebook.title %>
</p>

<p>
  <strong>Spine Urls:</strong>
  <%= @ebook.spine_paths %>
</p>

<p>
  <strong>Spine Index:</strong>
  <%= @ebook.spine_index %>
</p>

<p>
  <strong>Content href:</strong>
  <%= @ebook.content_href %>
</p>

<%= link_to 'Edit', edit_ebook_path(@ebook) %> |
<%= link_to 'Back', ebooks_path %>
