
<p>
  <strong>Title:</strong>
  <%= @ebook.title %>
</p>
<div id="ebook-console" data-book-id="<%= @ebook.id %>" >
  <iframe id="ebook-section" src="<%= @ebook.current_location_url %>" onload="getAllTextNodes();" ></iframe>
  <div class="section-controls">
    <button class="section-controls" id="previous-section" onclick="loadSection('prev');">Previous Section</button>
    <button class="section-controls" id="next-section" onclick="loadSection('next');">Next Section</button>
  </div>
</div>

<%= link_to 'Edit', edit_ebook_path(@ebook) %> |
<%= link_to 'Back', ebooks_path %>
