
<p>
  <strong>Title:</strong>
  <%= @ebook.title %>
</p>
<div id="ebook-console" data-book-id="<%= @ebook.id %>" >
  <iframe id="ebook-section" src="<%= @ebook.current_location_url %>" onload="processNewSection();" ></iframe>
  <div class="controls">
    <button class="controls" id="previous-section" onclick="loadSection('prev');">Previous Section</button>
    <button class="controls" id="next-section" onclick="loadSection('next');">Next Section</button>
    <button class="controls" id="increase-font" onclick="section.increaseFontSize('font-size')">Increase Font</button>
    <button class="controls" id="decrease-font" onclick="section.decreaseFontSize('font-size')">Decrease Font</button>
    <button class="controls" id="increase-reading-speed" onclick="section.increaseReadingSpeed('reading-speed')">Increase Reading Speed</button>
    <button class="controls" id="decrease-reading-speed" onclick="section.decreaseReadingSpeed('reading-speed')">Decrease Reading Speed</button>
  </div>
  <div class="controls-info">
    <p class="controls-info" id="reading-speed">Words Per Minute: 200wpm</p>
    <p class="controls-info" id="font-size">Font Size: 1.00em</p>
  </div>
</div>

<%= link_to 'Edit', edit_ebook_path(@ebook) %> |
<%= link_to 'Back', ebooks_path %>
