<iframe width="1000" height="1000" src="<%= @ebook.jsonify_ebook %>"></iframe>
<p id="notice"><%= notice %></p>
<%# TODO: updated the HTML and CSS of this page so that looks like an eReader %>
<p>
  <strong>Title:</strong>
  <%= @ebook.title %>
</p>

<p>
  <strong>Content href:</strong>
  <%= @ebook.content_href %>
</p>

<%= link_to 'Edit', edit_ebook_path(@ebook) %> |
<%= link_to 'Back', ebooks_path %>
